.button {
    position: relative;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 43px;
    font-size: 20px;
    display: inline-block;
    margin: 5px 10px 10px;
    width: calc(100% - 20px);
    &:before:n {
      background: #f0f0f0;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
      content: "";
      z-index: -1;
    }
    &:active:not(.unclickable) {
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
      top: 5px;
    }
    &:active:before:not(.unclickable) {
      top: -11px;
      bottom: -5px;
      content: "";
    }
    &:focus {outline:0;}
    &.red {
      text-shadow: -1px -1px 0 #A84155;
      background: #D25068;
      border: 1px solid #D25068;
      background-image: -webkit-linear-gradient(top, #F66C7B, #D25068);
      background-image: -moz-linear-gradient(top, #F66C7B, #D25068);
      background-image: -ms-linear-gradient(top, #F66C7B, #D25068);
      background-image: -o-linear-gradient(top, #F66C7B, #D25068);
      background-image: linear-gradient(to bottom, #F66C7B, #D25068);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    }
    &.red:hover {
      background: #F66C7B;
      background-image: -webkit-linear-gradient(top, #D25068, #F66C7B);
      background-image: -moz-linear-gradient(top, #D25068, #F66C7B);
      background-image: -ms-linear-gradient(top, #D25068, #F66C7B);
      background-image: -o-linear-gradient(top, #D25068, #F66C7B);
      background-image: linear-gradient(top, #D25068, #F66C7B);
    }
    &.blue {
      text-shadow: -1px -1px 0 #2C7982;
      background: #3EACBA;
      border: 1px solid #379AA4;
      background-image: -webkit-linear-gradient(top, #48C6D4, #3EACBA);
      background-image: -moz-linear-gradient(top, #48C6D4, #3EACBA);
      background-image: -ms-linear-gradient(top, #48C6D4, #3EACBA);
      background-image: -o-linear-gradient(top, #48C6D4, #3EACBA);
      background-image: linear-gradient(top, #48C6D4, #3EACBA);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    }
    
    &.blue:hover {
      background: #48C6D4;
      background-image: -webkit-linear-gradient(top, #3EACBA, #48C6D4);
      background-image: -moz-linear-gradient(top, #3EACBA, #48C6D4);
      background-image: -ms-linear-gradient(top, #3EACBA, #48C6D4);
      background-image: -o-linear-gradient(top, #3EACBA, #48C6D4);
      background-image: linear-gradient(top, #3EACBA, #48C6D4);
    }
  }
  