$primary-color: #35495E;
$desktop-color: #1d242b;
$comb-used-color: #388E3C;
$dice-border-color: #3EACBA;
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $primary-color;
}

.block {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // grid-template-areas: 'scores scores' 'dice dice' 'buttons buttons' 'settings settings';
  // /* grid-gap: 50px; */
  // grid-auto-rows: minmax(50px, auto);
  // grid-template-rows: 20% 20% 10% 10%;
  bottom: 0;
  top: 0;
  background-color: $primary-color;
}

.buttons {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;

  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.settings {
  text-align: left;
  font-size: 20px;
  // font-family: Roboto;
  margin: 10px;

  button {
    width: auto;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 2px;
    float: right;
  }
  button:focus {
    outline: none;
  }
  button.danger {
    background-color:  #f44336;;
  }
  button.success {
    background-color: #4CAF50;
  }
  button.info {
    background-color: white;
  }
}


.hidden-settings {
  transition: 1s;
  visibility: hidden;
  display: none;
}

.dice-panel {
  width: 100%;
  display: flex;
}

.spin-animation {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Dice */
.dice-element {
  margin: 6px;
  text-align: center;
  width: 20%;
  position: relative;
}

.dice-element.used {
  margin: 1px;
  stroke: black;
  border: calc(6px - 1px) solid $dice-border-color;
  border-radius: 15px;
}

.dice-element:before {
  content: '';
  padding-top: 100%;
  float: left;
}

.dice {
  // grid-area: dice;
}

.diceN {
  background-size: 100% auto;
}

.diceN0 {
  background-image: url(../assets/d-0.png);
}

.diceN1 {
  background-image: url(../assets/d-1.png);
}

.diceN2 {
  background-image: url(../assets/d-2.png);
}

.diceN3 {
  background-image: url(../assets/d-3.png);
}

.diceN4 {
  background-image: url(../assets/d-4.png);
}

.diceN5 {
  background-image: url(../assets/d-5.png);
}

.diceN6 {
  background-image: url(../assets/d-6.png);
}

.scores-table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  min-height: 350px;
  table-layout: fixed;
  empty-cells: hide;
}

td.scorecell {
  cursor: pointer;
}

td.bonuscell {
  font-size: 15px;
}

.scores-table table,
th,
td {
  border: 2px solid $desktop-color;
}

table {
  border: 2px solid $desktop-color;
}

td.setscore {
  background-color: $comb-used-color;
  transition: 0.5s;
}

.button {
  position: relative;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  line-height: 43px;
  font-size: 20px;
  display: inline-block;
  margin: 5px 10px 10px;
  width: calc(100% - 20px);
}

.button:before:n {
  background: #f0f0f0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  content: "";
  z-index: -1;
}

.button:active:not(.unclickable) {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
  top: 5px;
}

.button:active:before:not(.unclickable) {
  top: -11px;
  bottom: -5px;
  content: "";
}

.button:focus {outline:0;}


.red {
  text-shadow: -1px -1px 0 #A84155;
  background: #D25068;
  border: 1px solid #D25068;
  background-image: -webkit-linear-gradient(top, #F66C7B, #D25068);
  background-image: -moz-linear-gradient(top, #F66C7B, #D25068);
  background-image: -ms-linear-gradient(top, #F66C7B, #D25068);
  background-image: -o-linear-gradient(top, #F66C7B, #D25068);
  background-image: linear-gradient(to bottom, #F66C7B, #D25068);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
  background: #F66C7B;
  background-image: -webkit-linear-gradient(top, #D25068, #F66C7B);
  background-image: -moz-linear-gradient(top, #D25068, #F66C7B);
  background-image: -ms-linear-gradient(top, #D25068, #F66C7B);
  background-image: -o-linear-gradient(top, #D25068, #F66C7B);
  background-image: linear-gradient(top, #D25068, #F66C7B);
}

.blue {
  text-shadow: -1px -1px 0 #2C7982;
  background: #3EACBA;
  border: 1px solid #379AA4;
  background-image: -webkit-linear-gradient(top, #48C6D4, #3EACBA);
  background-image: -moz-linear-gradient(top, #48C6D4, #3EACBA);
  background-image: -ms-linear-gradient(top, #48C6D4, #3EACBA);
  background-image: -o-linear-gradient(top, #48C6D4, #3EACBA);
  background-image: linear-gradient(top, #48C6D4, #3EACBA);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
  background: #48C6D4;
  background-image: -webkit-linear-gradient(top, #3EACBA, #48C6D4);
  background-image: -moz-linear-gradient(top, #3EACBA, #48C6D4);
  background-image: -ms-linear-gradient(top, #3EACBA, #48C6D4);
  background-image: -o-linear-gradient(top, #3EACBA, #48C6D4);
  background-image: linear-gradient(top, #3EACBA, #48C6D4);
}

body {
  margin: 0;
}

.main {
  text-align: center;
}

.header {
  font-family: 'Roboto';
  color: white;
  /* font-weight: bold; */
}

@media screen and (min-width: 800px) {
  .wrapper {
    width: 500px;
    margin: 20px auto;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px;
  }
  body {
    background-color: $desktop-color;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: $primary-color;
  }
  .header {
    display: none;
  }
  .buttons {
    align-self: flex-end;
  }
  html {
    height: 100%;
  }
}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.settings-icon {
  width: 100%;
  width: 43px;
  height: 43px;
  margin: auto 0px auto 10px;
}
html, body {margin: 0; height: 100%; overflow: hidden}
