@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$primary-color: #35495E;
$desktop-color: #1d242b;
$comb-used-color: #388E3C;
$dice-border-color: #3EACBA;

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $primary-color;
}

.block {
  color: white;
}

.wrapper {
  @extend .noselect;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
}

.buttons {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.settings {
  text-align: left;
  font-size: 20px;
  margin: 10px;

  button {
    width: auto;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 2px;
    float: right;
  }
  button:focus {
    outline: none;
  }
  button.danger {
    background-color:  #f44336;;
  }
  button.success {
    background-color: #4CAF50;
  }
  button.info {
    background-color: white;
  }
}


.hidden {
  visibility: hidden;
  display: none;
}


.spin-animation {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Dice */

.dice-panel {
  width: 100%;
  display: flex;
}

.dice-element {
  margin: 6px;
  text-align: center;
  width: 20%;
  position: relative;
  &.used {
    margin: 1px;
    stroke: black;
    border: calc(6px - 1px) solid $dice-border-color;
    border-radius: 15px;
  }
  &:before {
    content: '';
    padding-top: 100%;
    float: left;
  }
}

.diceN {
  background-size: 100% auto;
}

.diceN0 {
  background-image: url(../assets/d-0.png);
}

.diceN1 {
  background-image: url(../assets/d-1.png);
}

.diceN2 {
  background-image: url(../assets/d-2.png);
}

.diceN3 {
  background-image: url(../assets/d-3.png);
}

.diceN4 {
  background-image: url(../assets/d-4.png);
}

.diceN5 {
  background-image: url(../assets/d-5.png);
}

.diceN6 {
  background-image: url(../assets/d-6.png);
}

.scores-table {
  border-collapse: collapse;
  width: 100%;
  min-height: 350px;
  border-radius: 2px;
  table-layout: fixed;
  empty-cells: hide;
}

td.scorecell {
  cursor: pointer;
}

td.bonuscell {
  font-size: 15px;
}

.scores-table table,
th,
td {
  border: 2px solid $desktop-color;
}

table {
  border: 2px solid $desktop-color;
}

td.setscore {
  background-color: $comb-used-color;
  transition: 0.5s;
}

@import 'button';
@import 'fireworks';